* {
    margin: 0px; 
    padding: 0px;
    color: white;
    font-size: 32px;
}

/* Блок основы */
#main {
    /* min-width: 100%; */
    /* min-height: 100%; */
    background: #A0A09F;
    position: relative;
}

/* 1. Шапка сайта и блоки логотипа, козины, меню*/
#header {
    height: 100px;
    background: black;
    border-top: 2px solid #A0A09F;
    border-bottom: 2px solid #A0A09F;
    position: sticky;
    top: 0px; left: 0px;
    z-index: 100;
}

/* 1.1 Блоки логотипа */

#logo {
    width: 300px;
    height: 85px;
    position: absolute;
    top: 15px; left: 80px;
}

#logo .shield {
    width: 50px;
    height: 50px;
    background: url(../img/shield.jpg) no-repeat;
    position: absolute;
    top: 5px; left: -50px;
}

#logo .lable a {
    position: absolute;
    top: 0px; left: 0px;
    font-size: 140%;
    color: white;
    text-decoration: none;
}

#logo .lable a:hover {
    color: #f44f1d;
    text-decoration: none;
    transition: 0.3s;
}

#logo .scribe {
    width: 300px;
    position: absolute;
    top: 50px; left: 0px;
    font-size: 36%;
}

/* 1.2 Блоки меню */
#menu {
    width: 500px;
    height: 50px;
    position: absolute;
    top: 50px; left: 450px;
}

#menu .drop, .drop ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu .drop > li {
    float: left;
}

#menu .drop li > a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 100%; */
    display: block;
    padding: 5px 15px;
    background: black;
    margin:1px 1px 0px 0px;
}

#menu .drop li > ul {
    position: absolute;
    display: none;
}

#menu .drop li > a:hover{
	background:#f44f1d;
	color:#fc8;
}

#menu .drop > li:hover > ul{
	display: block;
}

/* 1.3 Блоки иконок */

#icons {
    height: 70px;
    width: 200px;
    position: absolute;
    top: 15px; right: 100px;
}

#icons div {
    width: 39px;
    height: 39px;
    display: inline-block;
}

#icons .vk {
    background: url(../img/vk.jpg);
}

#icons .insta {
    background: url(../img/insta.jpg);
}

#icons .whatap {
    background: url(../img/whatap.jpg);
}

/* 1.4 Блок корзины */
/* #backet {
    width: 100px;
    position: absolute;
    top: 0px; right: 0px;
} */

/* 2. Блок со слайдами, внутри которого будут показывать различные акции, товары и так далее */

#slider {
    min-width: 800px;
	padding-top: 550px;
	position: relative;
	margin: 0px auto;
	border-bottom: silver solid 2px;
	overflow: hidden;
}

#slider > img {
	width: 100%; height: 560px;
	position: absolute;
	top: 0px; left: 0px;
	opacity: 0;
	transform: translateX(-400px);
	transition: all 1.5s ease-in-out;
}

#slider > input {
    display: inline-block;
    background: #fc8;
    transform: translateX(650px);
}

#slider > input:checked ~ img {
	transform: translateX(600px);
}

#slider > input:checked + img {
	opacity: 1;
	transform: translateX(0px);
	z-index: 10;
}

/* 3. Блок разделов по возросту */

.years {
    min-height: 500px;
    min-width: 800px;
    background: black;
    /* position: absolute;
    top: 600px; left: 300px; */
}

.kids {
    height: 350px;
    width: 500px;
    background: url(../img/years/IMG_8673.jpg);
    background-size: cover;
    float: left;
    margin: 60px 0 50px 120px;
    /* position: absolute;
    top: 800px; left: 200px; */
    border: 2px solid #A0A09F;
}

.kids:after {
    content: "Экипировка для детских команд";
    display: block;
    width: 400px;
    height: 35px;
    float: left;
    margin: 360px 0 0 70px;
    font-size: 80%;
}

.adults {
    height: 350px;
    width: 500px;
    background: url(../img/years/sportsbutton.jpg);
    float: right;
    margin: 60px 120px 50px 0;
    /* position: absolute;
    top: 800px; right: 200px; */
    border: 2px solid #A0A09F;
}

.adults:after {
    content: "Экипировка для взрослых команд";
    display: block;
    width: 400px;
    height: 35px;
    float: left;
    margin: 360px 0 0 70px;
    font-size: 80%;
}

/* 4. Блок разделов по возросту */

#footer {
    height: 400px;
    background: linear-gradient(to top, #414141, #000000);
    border-top: 2px solid #A0A09F;
    position: sticky;
    top: 0px;
}

#mailing {
    height: 150px;
    width: 150px;
    background: red;
    float: right;
    margin: 50px 100px 0 500px;
}

#list {
    height: 150px;
    width: 150px;
    background: red;
    float: left;
    margin: 50px 100px 0 50px;
}